extends base.pug

block content
    .container.mt-5
        .row 
            .col-3 
                .card 
                    img.card-img-top(src="https://th.bing.com/th/id/OIP.i_1f7CqIL7kr4oHugT7QvgAAAA?pid=ImgDet&rs=1", alt="")
                    .card-body 
                        h2.card-title.h5=student.name 
                        h6=student.email 
            .col-9 
                .container
                    table.table 
                        tr 
                            th Course Title
                            th Fee
                            th Status
                            th Date of Payment
                            th Action
                        each x in studentPayment
                            tr
                                td=x.courseId.title
                                td=x.amount
                                td=x.status
                                td=x.dop
                                td
                                    a.btn.btn-danger.btn-sm(href="") delete