extend base.pug 

block content
    .row.mb-3
        .col-8 
            h4.mt-1 Manage Students 
        .col-4 
            a.btn.btn-success(href="#").float-end Export Data
    table.table.table-sm
        tr 
            th Name
            th Father
            th Contact
            th Email
            th Address
            th education
            th Gender
            th Action
        each val in students 
            tr 
            td=val.name
            td=val.father_name
            td=val.contact
            td=val.email
            td=val.address
            td=val.education
            td=val.gender
            td 
                a.btn.btn-danger(href="")
                    i.bi.bi-trash-fill 
                a.btn.btn-success.ms-2(href=`/admin/student/${val._id}/view/`)
                    i.bi.bi-eye